REACT_APP_API_KEY=YOUR_GEMINI_API_KEY_HERE
REACT_APP_API_URL=YOUR_GEMINI_API_URL_HERE
REACT_APP_EMAILJS_SERVICE_ID=YOUR_EMAILJS_SERVICE_ID_HERE
REACT_APP_EMAILJS_TEMPLATE_ID=YOUR_EMAILJS_TEMPLATE_ID_HERE
REACT_APP_EMAILJS_USER_ID=YOUR_EMAILJS_USER_ID_HERE